/*  = Demo only
-
body{background: #dedfc399;width:360px;margin: 2px auto;}
--------------------------*/

/*  = Skin
------------------------------*/
/* biruTabs block */
.TabsBoxU{
  width: 300px;
  box-shadow: 0px 0px 6px 0px #000;
}

.biruTabsBox{
  background:#ecf0f1;
  box-shadow: 0 6px 3px -6px #000; 
}

/* tabs buttom */
.tabs {
  background: #ECF0F1;
  color:#16a085;
  border-bottom: 2px solid #16a085;
}

.tab.active{
  background:#1abc9c;
  color: #ecf0f1;
}

/*  = BiruTabs basic
------------------------------*/
/* biruTabs block */
.biruTabsBox{border-radius:4px;}
.tabs {
  text-align: center;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
}

.tab {
  display: inline-block;
  line-height: 0.8em;
  z-index: 1000;
  padding: 0.2em 0.2em;
  font-size: 1em;
  cursor: pointer;  
}

/* tabs buttom */
.tabCaption{
  padding:0.5em;
  z-index:999999;
}

.biruTab {
  position: relative;
  padding-top: 3em;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}

.biruTab ul,
.biruTab ol {
  margin: 0;
  padding:0;
}

.biruTab ul li {
  position:relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;   
  padding: 0; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/*  = youtube shorts
---------------------------*/
.sh-wrap 
{position: relative; 
width: 100%; 
height: 0; 
padding-top: 177.7778%;
padding-bottom: 0; 
margin-top: 1.6em; 
margin-bottom: 0.9em; 
overflow: hidden;
border-radius: 8px; 
will-change: transform;
}
.sh-wrap iframe {
position: absolute; 
width: 100%; 
height: 100%; 
top: 0; 
left: 0; 
border: none; 
padding: 0;
margin: 0;
}

/*  = CSS
---------------------------*/
.txt2{
  padding: 2% 0;
  font-size: 13px;
  font-weight: bold;
}

#container {
  box-shadow: 0px 0px 7px -1px #0000ff;
  height: 500px;
  text-align: center;
  position: relative;
  overflow: auto;
}
